<%- include('../partials/header') %>
  <h1>Flights List</h1>
  <table>
    <thead>
      <tr>
        <th>Flight Number</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.flightNo %></td>
          <td><a href="/flights/<%= flight._id %> ">Details</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>
</html>